@import "tailwindcss";
* {
  font-family: MinecraftFont, sans-serif;
}
 @font-face {
  font-family: 'MinecraftFont';
  src: url('/KrazyMinecraftServer2025/fonts/MinecraftRegular-Bmg3.otf') format('truetype');
}
.category_scrollbar::-webkit-scrollbar {
  display: none;
}
body {
  min-height: 100vh;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.category_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
